.footer {
  padding: 32px 40px;
  background-color: #424242;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.footer__contacts {
  color: #d3d3d3;
  text-decoration: none;
}

.footer__rus {
  color: #d3d3d3;
  text-decoration: none;
  grid-column-start: -3;
  grid-column-end: -3;
}

.footer__ua {
  color: #d3d3d3;
  text-decoration: none;
  grid-column-start: -2;
  grid-column-end: -2;
}
