.sort-active-element {
  color: #df691a !important;
  border-bottom: 2px solid #df691a !important;
}
.content {
  background-color: #2f4051;

  z-index: 1;

  &__sort-ul {
    display: flex;
  }
  &__sort-type {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 14px;
  }
  &__sort-by {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  &__title {
    font-size: 22px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 24px 0;
    margin-left: 32px;
    color: #fff;
  }
  &__films {
    display: flex;
    flex-wrap: wrap;
  }
  &__page-arrow {
    background-image: url("../img/arrow.svg");
    background-color: #2f4051;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    height: 24px;
    width: 24px;
    align-self: center;
  }
  &__pages {
    display: flex;
  }
  &__page-number {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__info {
    color: #fff;
    margin: 14px 0;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}
