@mixin gridPos($CS, $CE, $RS, $RE) {
  grid-column-start: $CS;
  grid-column-end: $CE;
  grid-row-start: $RS;
  grid-row-end: $RE;
}
@mixin img-button($url) {
  background-image: url($url);
  background-color: #df691a;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 24px;
  width: 24px;
  margin: 10px;
  align-self: center;
}
body {
  background-color: #df691a;
  margin: 0%;
}
.active-element {
  color: white !important;
  padding-bottom: 28px !important;
  border-bottom: 3px solid white !important;
}
.header {
  margin: 0;
  background-color: #df691a;
  display: grid;
  grid-template-rows: 64px 64px;
  grid-template-columns: repeat(40, 1fr);

  &__menu-button {
    @include gridPos(1, 1, 1, 1);
    @include img-button("../img/menu-icon.svg");
  }
  &__search-button {
    @include gridPos(-3, -3, 1, 1);
    @include img-button("../img/search-btn.svg");
  }
  &__bookmark-button {
    @include gridPos(-4, -4, 1, 1);
    @include img-button("../img/bookmark.svg");
  }
  &__logo {
    @include gridPos(2, 5, 1, 1);
    margin: 10px;
  }
  &__menu {
    @include gridPos(2, 5, 2, 2);

    &-item {
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 16px;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      padding-bottom: 16px;
    }
    &-ul {
      display: flex;
      padding: 0;
    }
  }
}
li {
  list-style-type: none;
}
